#title{
    text-align: center;
    font-family: cursive;

}
body{
    background-color:#12804B;
}
.paragraph{

    font:italic 25px serif;
    line-height: 40px;
}
nav ul li{
    display: inline-block;
    margin: 20px;
    text-align: center;
    
}
a{
    color: azure;
    font-family: cursive;
}
nav{
    text-align: center;
}
footer{
    text-align: center;

}
